@font-face {
    font-family: neue;
    src: url(./fonts/Neue\ Haas\ Grotesk\ Text\ Pro.ttf);
}
@font-face {
    font-family: scto;
    src: url(./fonts/Scto\ Grotesk\ A\ Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    font-family: neue;
}
body{
    overflow-x: hidden;
}
#main{
    width: 100%;
}
#home{
    width: 100vw;
    height: 100%;
    /* background-color: red; */
    position: relative;
}
#nav{
    position:fixed;
    height: 6%;
    width: 100%;
    background-color: #2C2C32;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.264), 0 10px 20px 0 rgba(0, 0, 0, 0.259);
}
#nlogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav #logo img{
    width: 5vh;
    height: 5hv;
    scale: .5;
    /* position: absolute; */
}
#nav #menu{
    display: none;
}
#nav h2{
    color: #efefef;
    font-weight: 500;
    line-height: 1;
    font-size: 2vh;
    /* margin-right: 5vw; */
}
#nav button{
    /* height: 200%; */
    padding: 0 1vw;
    border: none;
    background-color: transparent;
    font-size: 1.8vh;
    color: #adadad;
}
#nav button:hover{
    color: #efefef;
    cursor: pointer;
}
::placeholder{
    opacity: 1;
    color: #efefef;
}
#nav input{
    height: 100%;
    width: 10%;
    border: none;
    background-color: rgb(64, 64, 68);
    background-image: url(./img/search.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 3vh;
    color: #fff;
    padding: 0 0 0 40px;
    margin-left: 9vw;
}
#nav input:hover{
    border: 1px solid #ffff;
    background-color: #525257;
}
#nav #down{
    height: 100%;
    border: none;
    background-image: url(./img/download.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 3vh;
    padding-left: 40px;
    background-color: #007ce1;
    color: #efefef;
}
#nav #down:hover{
    background-color: #006dc6;
}
#nav2{
    height: 0;
}
#nav2 ul li{
    display: none;
}
#nav2 button{
    display: none;
}
#info{
    height: 10vh;
    width: 100%;
    background-color: #25252B;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #efefef;
    padding-bottom: 1vh;
}
#info a{
    margin-right: 0.5vw;
    color: #007ce1;
}
#info h4{
    font-weight: 500;
    color: #adadad;
}
#download{
    height: 80% !important;
    width: 100%;
    background-color: #2C2C32;
    display: flex;
    padding: 50px;
}
#download #dleft{
    width: 40%;
    height: 100%;
    opacity: 1;
    /* flex-direction: column; */
    /* flex: content; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#dtext{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-left: 10vw;
    /* margin-top: 5vh; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
#dtext h1{
    font-weight: 100;
    color: #efefef;
    font-size: 5vh;
}
#dtext h4{
    color: #efefef7b;
    margin-top: 2vh;
    font-weight: 100;
}
#dleft #btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3vh;
}
#dleft button{
    border: none;
    background-color: #007ce1;
    color: #efefef;
    justify-self: center;
    align-items: center;
    margin-left: 2px;
    cursor: pointer;
}
#dleft button:nth-child(1){
    width: 7vw;
}
#dleft button:nth-child(2){
    width: 7vw;
}
#dleft button:nth-child(3){
    width: 3vw;
}
#dinfo{
    color: #efefef;
    background-color: #25252B;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 17.4vw;
    padding-bottom: 20px;
    margin-top: 1vh;
    border-radius: 10px;
}
#dinfo a{
    color: #0089f9;
}
#dterms{
    margin-top: 1.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dterms small{
    /* opacity: .5; */
    color: #efefef7d;
}
#dterms a{
    color: #007ce1;
}
#download #dright{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
#dright #vsimg{
    width: 60%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
#dright img{
    width: 100%;
    /* scale: .5; */
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.264), 0 10px 20px 0 rgba(0, 0, 0, 0.259);
    z-index: 1;
}
#feature{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    user-select: none;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#feature #ft1{
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 3vw;
    opacity: 0.5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#feature #ft1 h4{
    font-weight: 500;
    font-size: 2.3vh;
}
#feature #ft1 img{
    margin-bottom: 1.2vh;
}
#feature #ft1:hover{
    background-color: #34459280;
    cursor: pointer;
    opacity: 1;
}
#feature #ft2{
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 3vw;
    opacity: 0.5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#feature #ft2 h4{
    font-weight: 500;
    font-size: 2.3vh;
}
#feature #ft2 img{
    margin-bottom: 1.2vh;
}
#feature #ft2:hover{
    background-color: #60b44b79;
    cursor: pointer;
    opacity: 1;
}
#feature #ft3{
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 3vw;
    opacity: 0.5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#feature #ft3 h4{
    font-weight: 500;
    font-size: 2.3vh;
}
#feature #ft3 img{
    margin-bottom: 1.2vh;
}
#feature #ft3:hover{
    background-color: #ef513280;
    cursor: pointer;
    opacity: 1;
}
#feature #ft4{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#feature #ft4 h4{
    font-weight: 500;
    font-size: 2.3vh;
}
#feature #ft4 img{
    margin-bottom: 1.2vh;
}
#feature #ft4:hover{
    background-color: #00000079;
    cursor: pointer;
    opacity: 1;
}
#intelli{
    width: 100%;
    height: 40vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ipart{
    height: 70%;
    width: 100%;
    display: flex;
}
#intelli #ileft{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    scale: 1.1;
}
#ileft img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#intelli #iright{
    height: 50%;
    width: 30%;
    /* background-color: blue; */
    display: inline-flex;
    align-items: start;
    /* justify-content: space-evenly; */
    flex-direction: column;
}
#iright h2{
    margin-bottom: 5vh;
    font-weight: 100;
    opacity: 0.8;
    font-size: 3vh;
}
#iright h4{
    font-weight: 100;
    opacity: 0.8;
    line-height: 2.4;
    font-size: 1.9vh;
}
#debug{
    height: 40vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dpart{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: end;
    /* background-color:rebeccapurple; */
}
#deleft{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: red; */
}
#deright{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.1;
    /* background-color: blue; */
}
#deright img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;

}
#deleft h2{
    font-weight: 100;
    font-size: 3vh;
    margin-bottom: 3vh;
    opacity: 0.8;
}
#deleft h4{
    font-weight: 100;
    line-height: 2.4;
    font-size: 1.9vh;
    opacity: 0.8;
}
#git{
    width: 100%;
    height: 40vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gpart{
    height: 70%;
    width: 100%;
    display: flex;
}
#git #gleft{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    scale: 1.1;
}
#gleft img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#git #gright{
    height: 50%;
    width: 30%;
    /* background-color: blue; */
    display: inline-flex;
    align-items: start;
    /* justify-content: space-evenly; */
    flex-direction: column;
}
#gright h2{
    margin-bottom: 5vh;
    font-weight: 100;
    opacity: 0.8;
    font-size: 3vh;
}
#gright h4{
    font-weight: 100;
    opacity: 0.8;
    line-height: 2.4;
    font-size: 1.9vh;
}
#ext{
    height: 40vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#epart{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: end;
    /* background-color:rebeccapurple; */
}
#eleft{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: red; */
}
#eright{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.5;
    /* background-color: blue; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#eleft h2{
    font-weight: 100;
    font-size: 3vh;
    margin-bottom: 3vh;
    opacity: 0.8;
}
#eleft h4{
    font-weight: 100;
    line-height: 2.4;
    font-size: 1.9vh;
    opacity: 0.8;
}
#eleft a{
    color: #007ce1;
    text-decoration: none;
}
#deploy{
    height: 40vh;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dppart{
    height: 70%;
    width: 100%;
    display: flex;
    /* background-color:rebeccapurple; */
}
#dpright{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    float: left;
    /* background-color: red; */
}
#dpleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.1;
    /* background-color: blue; */
}
#dpleft img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#dpright h2{
    font-weight: 100;
    font-size: 3vh;
    margin-bottom: 3vh;
    opacity: 0.8;
}
#dpright h4{
    font-weight: 100;
    line-height: 2.4;
    font-size: 1.9vh;
    opacity: 0.8;
}
#language{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;
}
#language p:nth-child(1){
    font-size: 4vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
#cl{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    user-select: none;
    margin-right: 7vw;
}
#js{
    margin-left: 7vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#py{
    margin-left: 7vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#ja{
    margin-left: 7vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#md{
    margin-left: 7vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#ts{
    margin-left: 7vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#cpp{
    margin-left: 7vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#json{
    margin-left: 7vh;
    margin-top: 3vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#ps{
    margin-left: 7vh;
    margin-top: 3vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#html{
    margin-left: 7vh;
    margin-top: 3vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#c{
    margin-left: 7vh;
    margin-top: 3vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#php{
    margin-left: 7vh;
    margin-top: 3vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#yaml{
    margin-left: 7vh;
    margin-top: 3vh;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
#language a{
    color: #007ce1;
    text-decoration: none;
    margin-top: 4vh;
    margin-bottom: 7vh;
}
#language button{
    padding: 1.8vh 2vw;
    font-size: 2vh;
    color: #efefef;
    background-color: #006dc6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 7vh;
}
#language button:hover{
    background-color: #0065b8;
}
#minfo{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 5vh;
}
#multidown{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#windows{
    /* background-color: burlywood; */
    width: 24%;
    height: 100%;
}
#windown{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
#winimg{
    height: 100%;
    width: 100%;
}
#windown img{
    /* width: 40%; */
    align-self: center;
}
#windown #wbtn button{
    border: none;
    width: 15vw;
    height: 8vh;
    margin-top: 3vh;
    background-color: #006dc6;
    color: #efefef;
    font-size: 2vh;
    cursor: pointer;
}
#windown #wbtn button:hover{
    background-color: #0065b8;
}
#windown #wbtn button img{
    padding-right: 1vh;
}
#windown #wbtn button small{
    font-size: 1.3vh;
}
.installers{
    width: 100%;
    height: 100%;
    display: flex;
}
.installerl{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    padding-left: 5vh;
    /* background-color: red; */
}
.installerl h4{
    font-weight: 100;
    margin-bottom: 1vh;
}
.installerr{
    width: 50%;
    height: 100%;
    display: grid;
    margin-left: 2vh;
    align-self: center;
    justify-content: center;
    margin-top: 3vh;
    /* background-color: red; */
}
.installerr button{
    background-color: #006dc6;
    color: #efefef;
    margin-bottom: 1vh;
    cursor: pointer;
    border: none;
    padding: 2px;
    border-radius: 5px;
}
.installerr button:hover{
    background-color: #0065b8;
}
#linux{
    width: 26%;
    height: 100%;
    /* background-color: palegoldenrod; */
}
#lidown{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
#winimg{
    height: 100%;
    width: 100%;
}
#windown img{
    /* width: 40%; */
    align-self: center;
}
#lidown #lbtn{
    display: flex;
}
#lidown #lbtn button{
    border: none;
    margin-top: 3vh;
    background-color: #006dc6;
    color: #efefef;
    font-size: 2vh;
    cursor: pointer;
    margin-right: 0.5vw;
}
#lidown #lbtn button:nth-child(1){
    width: 7vw;
    height: 8vh;
}
#lidown #lbtn button:nth-child(2){
    width: 7vw;
    height: 8vh;
}
#lidown #lbtn button:hover{
    background-color: #0065b8;
}
#lidown #lbtn button img{
    padding-right: 1vh;
}
#lidown #lbtn button small{
    font-size: 1.3vh;
}
#mac{
    width: 20%;
    height: 100%;
    /* background-color: palegoldenrod; */
}
#macdown{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
#winimg{
    height: 100%;
    width: 100%;
}
#windown img{
    /* width: 40%; */
    align-self: center;
}
#macdown #mbtn button{
    border: none;
    margin-top: 3vh;
    background-color: #006dc6;
    color: #efefef;
    font-size: 2vh;
    cursor: pointer;
}
#macdown #mbtn button{
    width: 15vw;
    height: 8vh;
}
#macdown #mbtn button:hover{
    background-color: #0065b8;
}
#macdown #mbtn button img{
    padding-right: 1vh;
}
#macdown #mbtn button small{
    font-size: 1.3vh;
}
.mnstallers{
    width: 100%;
    height: 100%;
    display: flex;
}
.mnstallerl{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 3vh;
    /* background-color: red; */
}
.mnstallerl h4{
    font-weight: 100;
    margin-bottom: 1vh;
}
.mnstallerr{
    width: 50%;
    height: 100%;
    display: grid;
    margin-left: 2vh;
    align-self: center;
    /* justify-content: center; */
    margin-top: 3vh;
    /* background-color: red; */
}
.mnstallerr button{
    background-color: #006dc6;
    color: #efefef;
    margin-bottom: 1vh;
    cursor: pointer;
    border: none;
    padding: 2px;
    border-radius: 5px;
}
.mnstallerr button:hover{
    background-color: #0065b8;
}
#bottomtxt{
    width: 45%;
    height: 20%;
    /* background-color: palegoldenrod; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vh;
    opacity: 0.8;
}
#bottoml{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
#bottoml h3{
    font-weight: 600;
    margin-bottom: 1vh;
}
#bottoml h4{
    font-weight: 100;
}
#bottoml a{
    color: #007ce1;
    text-decoration: none;
}
#bottomr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bottomr h3:nth-child(2){
    font-weight: 600;
    margin-bottom: 1vh;
}
#bottomr h4{
    font-weight: 100;
}
#bottomr a{
    color: #007ce1;
    text-decoration: none;
}
#tnc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#tnc h3{
    font-size: 1.5vh;
}
#tnc p{
    margin-top: 3vh;
    font-size: 1.3vh;
    font-weight: 100;
}
#tnc a{
    color: #007ce1;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 10%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #efefef;
}
#lfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer small{
    margin-right: 1.5vw;
}
#gitlogo{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.5;
    border-radius: 7px;
    padding: 5px;
    height: 6vh;
    margin-right: -1.2vw;
}
#gitlogo a{
    color: #25252B;
    font-size: 2.7vh;
    padding-left: 0.5vw;
    margin-right: 0.5vw;
    cursor: pointer;
}
#gitlogo a:hover{
    color: #006dc6;
}
#gitforks{
    background-color: #fff;
    color: #25252B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border-radius: 4px;
    padding: 5px;
}
#gitforks a{
    font-size: 1.3vh;
    cursor: pointer;
}
#gitforks a:hover{
    color: #006dc6;
}
#rfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
#rfooter a{
    text-decoration: none;
    color: #efefef;
    margin-left: 1vw;
    font-size: 1.5vh;
}
#rfooter a:hover{
    color:#006dc6 ;
}
#miclogo{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    /* width: 50%; */
    height: 50%;
    /* background-color: red; */
    margin-left: 1vw;
}


@media screen and (max-width: 800px) {
    #nav{
        align-items: center;
        justify-content: space-between;
        height: 6vh;
        flex-direction: column;
    }
    #nav #menu{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #efefef;
        padding: 3px;
    }
    #nav #menu:hover{
        background-color: #efefef;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
    }
    #nav input{
        display: none;
    }
    #nav button{
        display: none;
    }
    #nlogo{
        /* background-color: red; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 1vw;
        padding-right: 2vw;
    }
    #nav2{
        /* opacity: 0; */
        width: 100%;
        background-color: #2C2C32;
        /* overflow-x: hidden; */
        /* height: 80vh; */
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    }
    #nav2 ul li{
        color: #efefef;
        list-style: none;
        display: block;
        margin-bottom: 2vh;
        margin-left: 2vw;
        /* cursor: pointer; */
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
        user-select: none;
    }
    #nav2 ul li:hover{
        color: #006dc9;
    }
    #nav2 ul{
        width: 7vw;
        opacity: 0;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    }
    #nav2 button{
        opacity: 0;
        display: initial;
        width: 100%;
        padding-right: 90vw;
        padding-top: 2vh;
        padding-left: 2hv;
        padding-bottom: 2vh;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
        margin-bottom: 1vh;
    }
    #nav2 #down{
        cursor:default;

    }
    #info{
        height: 10vh;
        display: flex;
        justify-content: center;
        font-size: 1.5vh;
        flex-wrap: wrap;
    }
    #dleft{
        margin-top: -3vh;
        margin-bottom: 2vh;
        width: 100% !important;
        height: 60% !important;
        /* background-color: red; */
        justify-content: center !important;
        align-items: start !important;
    }
    #dtext{
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
    #btns button:nth-child(1){
        width: 15% !important;
    }
    #btns button:nth-child(2){
        width: 15% !important;
    }
    #btns button:nth-child(3){
        width: 10% !important;
    }
    #dinfo{
        width: 40%;
        font-size: 1.4vh;
    }
    #dright{
        width: 100% !important;
        height: 40% !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 5vh;
    }
    #dright #vsimg{
        scale: 1.2;
        /* margin-bottom: 3vh; */
    }
    
    #download{
        flex-direction: column;
        height: 90%;
        align-items: center;
    }
    #feature{
        justify-content: space-evenly;
    }
    #feature #ft1 h4{
        font-size: 1.5vh;
    }
    #feature #ft1{
        width: 20%;
    }
    #feature #ft2 h4{
        font-size: 1.5vh;
    }
    #feature #ft2{
        width: 20%;
    }
    #feature #ft3 h4{
        font-size: 1.5vh;
    }
    #feature #ft3{
        width: 20%;
    }
    #feature #ft4 h4{
        font-size: 1.5vh;
    }
    #feature #ft4{
        width: 20%;
    }
    #ipart #ileft img{
        height: 15vh;
    }
    #ipart #iright{
        width: 40%;
    }
    #ipart #iright h2{
        font-size: 2.5vh;
        margin-top: 5vh;
    }
    #ipart #iright h4{
        font-size: 1.5vh;
    }
    #dpart #deright img{
        height: 15vh;
    }
    #dpart #deleft{
        width: 50%;
        margin-left: 3vw;
    }
    #dpart #deleft h2{
        font-size: 2.5vh;
        margin-top: 5vh;
    }
    #dpart #deleft h4{
        font-size: 1.5vh;
    }
    #gpart #gleft img{
        height: 15vh;
    }
    #gpart #gright{
        width: 40%;
    }
    #gpart #gright h2{
        font-size: 2.5vh;
        margin-top: 5vh;
    }
    #gpart #gright h4{
        font-size: 1.5vh;
    }
    #epart #eright img{
        height: 30vh;
    }
    #epart #eleft{
        width: 50%;
        margin-left: 3vw;
    }
    #epart #eleft h2{
        font-size: 2.5vh;
        margin-top: 5vh;
    }
    #epart #eleft h4{
        font-size: 1.5vh;
    }
    #dppart #dpleft img{
        height: 15vh;
    }
    #dppart #dpright{
        width: 40%;
    }
    #dppart #dpright h2{
        font-size: 2.5vh;
        margin-top: 5vh;
    }
    #dppart #dpright h4{
        font-size: 1.5vh;
    }
    #language #cl{
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    #multidown{
        flex-direction: column;
    }
    #multidown #windows{
        width: 50%;
        margin-bottom: 5vh;
    }
    #multidown #wbtn button{
        width: 40vw;
    }
    .installerl{
        width: 60%;
    }
    #multidown #linux{
        width: 50%;
        margin-bottom: 5vh;
    }
    #multidown #lidown #lbtn button{
        width: 20vw;
    }
    #multidown #mac{
        width: 50%;
        margin-bottom: 5vh;
    }
    #multidown #mbtn button{
        width: 40vw;
    }
    #bottomtxt{
        flex-direction: column;
    }
    #bottomtxt #bottoml{
        margin-bottom: 10vh;
    }
    #bottomtxt #bottomr{
        margin-bottom: 10vh;
        width: 100%;
    }
    #tnc{
        margin-bottom: 5vh;
    }
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    
}